.recipeTile{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    cursor:pointer;

}
.recipeTile__label{
max-width:200px;
text-align:center; 
margin:12px 0px;
}
.recipeTile__image{
height:200px;
width:200px;
object-fit:contain;
border-radius:5px;
}

.app_recipes{
margin-top:24px;
display:grid;
grid-template-columns: 220px 220px ;
align-items:baseline;
}
